html{
    font-family: 'RocknRoll One', sans-serif;
    background-color: black;
    
}

article{
    
    border: 5px solid ;
    border-color: rgb(49, 49, 49);
    border-radius: 10px;
}

header{
    text-align: center;
}

h1{
    color:white;
}

h2{
    color: white;
    margin-left: 500px;
}
li{
    color: white;
}

ul{
   margin-left: 500px;
}

.witcher{
    width: 150px;
    position: realtive;
    margin-top: -300px;
    margin-left: 920px;
}
.monkeys{
    width: 150px;
    position: realtive;
    margin-top: -300px;
    margin-left: 920px;
}
.titan{
    width: 200px;
    position: realtive;
    margin-top: -300px;
    margin-left: 900px;
}
.Deadpool{
    width: 170px;
    position: realtive;
    margin-top: -300px;
    margin-left: 910px;
    
}
.mma{
    width: 200px;
    position: realtive;
    margin-top: -300px;
    margin-left: 900px;
}


